.Discovery {
    background-color: #dda15e;
    padding: 25px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
}

.attribute {
    background-color: #bc6c25;
    margin: 10px;
}

img {
    height: 250px;
    width: auto;
    padding: 30px 0;
}

.attributes {
    display: flex;
}